* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.blog_cards {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.blog_card {
    width: 368px;
    padding: 16px 16px 20px 16px;
    background-color: #fff;
    box-shadow: 8px 8px 20px 0px rgba(85, 85, 85, 0.08);

}

.blog_img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.blog_title {
    padding-bottom: 6px;
    font-family: "Sora", sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #20293A;
}

.blog_text {
    padding-bottom: 20px;
    font-family: "Sora", sans-serif;
    font-size: 14px;
    color: #394150;
}

.blog_author {
    padding-top: 20px;
    font-family: "Sora", sans-serif;
    font-size: 12px;
    color: rgb(55, 65, 81);
}

.blog_author a {
    text-decoration: none;
} 

.blog_tag {
    display: inline-block;
    margin: 16px 0px;
    padding: 4px 12px;
    font-family: "Sora", sans-serif;
    font-size: 10px;
    font-weight: bold;
    color: #7C19EE;
    background-color: #F2EAFD;
    border-radius: 99px;
}

hr {
    margin: 0px -16px;
    opacity: 0.1;
}
